<main class="forms">

    <!-- SignIn Form -->
    <section class="form">
        <div class="form-content">
            <header>Inicio de sesión</header>
            <form (ngSubmit)="signIn()" [formGroup]="formSignIn">
                <div class="field input-field">
                    <input formControlName="email" type="email" placeholder="Correo electrónico" name="email"
                        id="email">
                </div>
                <div class="field input-field input-field-password">
                    <input formControlName="password" type="{{showPassword ? 'text' : 'password'}}"
                        placeholder="Contraseña" name="password" id="password">
                    <i [ngClass]="{'uil-eye': !showPassword, 'uil-eye-slash': showPassword}"
                        (click)="showPassword = !showPassword"></i>
                </div>
                <div class="form-link">
                    <a href="#" class="forgot-password">Forgot Password?</a>
                </div>
                <div class="field button-field">
                    <button [disabled]="!formSignIn.valid">Iniciar sesión</button>
                </div>
            </form>

            <div class="form-link">
                <span>No tienes una cuenta? <a class="link signup-link"
                        [routerLink]="['/register']">Registrarse</a></span>
            </div>
        </div>

        <hr>

        <div class="media-options">
            <a href="#" class="field facebook">
                <i></i>
                <span>Iniciar sesión con Facebook</span>
            </a>
        </div>
        <div class="media-options">
            <a href="#" class="field google">
                <i></i>
                <span>Iniciar sesión con Google</span>
            </a>
        </div>

    </section>
</main>